//breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//colour variables
$primary-color-Instock-Black: #13182c;
$primary-color-Instock-Indigo: #2e66e5;
$primary-color-White: #ffffff;

$secondary-color-Slate: #5c667e;
$secondary-color-Cloud: #bdc5d5;

$background-color-Graphite: #232940;
$background-color-Light-Grey: #f7f8f9;

$supporting-color-Green: #158463;
$supporting-color-Red: #c94515;
