@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.WarehouseTabDesDisplay {
  display: none;
  @include tablet {
    display: block;
    border-bottom: 1px solid $secondary-color-Cloud;
    padding: 1rem 0;
  }
}

.WarehouseTabDes {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr 1.5fr 0.7fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: $secondary-color-Slate;

  &__li {
    &--arrowIcn {
      transition: transform 0.3s ease;
      width: 1.2rem;
      &:hover {
        cursor: pointer;
        transform: translateX(4px);
      }
    }
    &--withIcn {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &--delAnEdIcn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-icon {
        width: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
