@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "titillium", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  line-height: 36px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4,
label {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h4,
  label {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  .body-large {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.body-medium,
p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .body-medium,
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

::-moz-placeholder {
  font-size: 0.6875rem;
  line-height: 1rem;
}

.body-small,
::placeholder,
button {
  font-size: 0.6875rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .body-small,
  ::placeholder,
  button {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 75rem;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.warehouse-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  color: #5c667e;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .warehouse-details {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
  }
}
.warehouse-details__contact-container {
  display: flex;
  justify-content: space-between;
}
.warehouse-details__heading {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.warehouse-details__info {
  font-size: 0.815rem;
}
@media (min-width: 768px) {
  .warehouse-details__info {
    width: 9rem;
  }
}
.warehouse-details__address-container {
  border-bottom: 1px solid #bdc5d5;
}
@media (min-width: 768px) {
  .warehouse-details__address-container {
    border-right: 1px solid #bdc5d5;
    border-bottom: none;
  }
}