@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.button {
  background-color: $primary-color-Instock-Indigo;
  color: $primary-color-White;
  border: none;
  cursor: pointer;
  height: 2.25rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
  @include tablet {
    width: fit-content;
    height: 2.375rem;
    // min-width: 0;
    padding: 0 1rem;
  }
  &:hover {
    background-color: $background-color-Graphite;
  }
  &--headerBtn {
    border: none;
    color: $secondary-color-Cloud;
    background-color: transparent;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
    &:active,
    &:focus,
    &:visited {
      color: $primary-color-White;
      background-color: $primary-color-Instock-Black;
    }
  }
  &--cancel {
    background-color: $primary-color-White;
    color: $primary-color-Instock-Black;
    border: 1px SOLID $background-color-Graphite;
    &:hover {
      border-color: $primary-color-Instock-Indigo;
      color: $primary-color-Instock-Indigo;
      background-color: $primary-color-White;
    }
  }

  &--delete {
    background-color: $supporting-color-Red;
    color: $primary-color-White;
    border-color: transparent;
    &:hover {
      background-color: $background-color-Graphite;
    }
  }
  &--noshow {
    display: none;
  }
  &--edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
