@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.inventoryEditPage {
  background-color: $primary-color-White;
  max-width: 80rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px $background-color-Graphite;
  margin: -40px auto 2rem auto;
  padding-bottom: 2rem;
  @include tablet {
    margin: -90px auto 2rem auto;
  }
}
