@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.inventoryAddNewPage {
  margin-top: -40px !important;
  background-color: $primary-color-White;
  max-width: 80rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px $background-color-Graphite;
  margin: 5rem auto;
  padding-bottom: 2rem;
  @include tablet {
    margin-top: -90px !important;
  }
}
