@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("../../assets/Fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "titillium", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

h1 {
  font-size: 28px;
  line-height: 36px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4,
label {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h4,
  label {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.body-large {
  font-size: 0.9375rem;
  line-height: 1.625rem;
}
@media (min-width: 768px) {
  .body-large {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.body-medium,
p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  .body-medium,
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

::-moz-placeholder {
  font-size: 0.6875rem;
  line-height: 1rem;
}

.body-small,
::placeholder,
button {
  font-size: 0.6875rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  ::-moz-placeholder {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .body-small,
  ::placeholder,
  button {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 75rem;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 2.25rem;
  width: 100%;
  border: 1px solid #bdc5d5;
  border-radius: 1.25rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .inputs {
    height: 2.375rem;
  }
}
.inputs::-moz-placeholder {
  color: #5c667e;
  font-size: 0.8125rem;
}
.inputs::placeholder {
  color: #5c667e;
  font-size: 0.8125rem;
}
.inputs:focus-visible {
  outline: 1px solid #2e66e5;
}
.inputs__search {
  background: url("../../assets/Icons/search-24px.svg") no-repeat right 1rem center;
  padding-right: 2.5rem;
  text-transform: none;
}
@media (min-width: 768px) {
  .inputs__search {
    width: 10rem;
  }
}
.inputs__userInfo {
  text-transform: none;
}
.inputs__description {
  resize: none;
  text-transform: none;
  height: 7.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.inputs__dropDown {
  border-color: #bdc5d5;
  color: #bdc5d5;
  border-radius: 1.25rem;
  height: 2.25rem;
  width: 100%;
  padding: 0.1rem 0.5rem;
  font-size: 0.8125rem;
}
@media (min-width: 768px) {
  .inputs__dropDown {
    height: 1.875rem;
  }
}
.inputs__dropDown:focus {
  border-color: #2e66e5;
  color: #13182c;
}
.inputs__label--labelHeader {
  height: 2rem;
  font-size: 0.8125rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .inputs__label--labelHeader {
    font-size: 0.875rem;
  }
}
.inputs__label--search {
  display: none;
}